name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Lint
            os: ubuntu-18.04
            pyversion: '3.7'
            lint: 1
          - name: Python36
            os: ubuntu-2180.04
            pyversion: '3.6'
          - name: Python37
            os: ubuntu-18.04
            pyversion: '3.7'
          - name: Python38
            os: ubuntu-18.04
            pyversion: '3.8'
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.pyversion }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.pyversion }}
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install cryptography requests pyperclip
            pip install psutil asgineer
            pip install black flake8 pytest
      - name: Lint with flake8
        if: matrix.lint == 1
        run: |
            black --check .
            flake8 .
      - name: Test with pytest
        run: |
            pytest -v tests
